<body class="body-home">
        <div class="container">
        <h1>{{{title}}}</h1>

        <a href="lk">В личный кабинет</a>
        <img src="../../../img/сhess_symbols_set.png" alt="">
    </div>


    {{#unless check}}
    <!-- заменяет вложенность else. Вообщем противоположная сторона if -->
    <ul>
        <li>Страница 1</li>
        <li>Страница 2</li>
        <li>Страница 3</li>
    </ul>
    {{/unless}}

    {{#if check}}
    <ul>
        <li>Копия 1</li>
        <li>Копия 2</li>
        <li>Копия 3</li>
    </ul>
    {{!-- {{else}}
            <ul>
                <li>Страница 1 через else</li>
                <li>Страница 2 через else</li>
                <li>Страница 3 через else</li>
            </ul> --}}

    {{/if}}




    <!--Объект это ассоциативный массив, он так же перебираеться. Можно без as получть ключ @key значение 
        так и будет получать this.  -->
    {{!-- {{#each obj as |value key|}}
        {{#each value}}
            <p>{{this}}</p>
            {{/each}}
    {{/each}} --}}



    <p>{{obj.people.name}}</p> <!-- образение к объекту всё как обычно-->
    <p>{{lookup obj.people 'name'}}</p> {{!-- 2й вариант получения значения --}}


    <p>{{car.Germany}}</p>
    <p>{{lookup car 'Shvetsii'}}</p>
    {{#with car}}
        <p>{{Frantsii}}</p>
    {{/with}}
    {{!--
    указывая #with к объекту мы как бы фиксируемся на нём и можем обращаться к свойствам внутри 
    вообщем не совсем понятно зачем он
    --}}

</body>


